.no-padding {
  padding: 0;
}

.search-input {
  border-radius: 30px;
  border: 1px solid #E3E3E3;
}

.search-input:focus {
  border: 1px solid #237A57;
  border-radius: 30px;
}

.chat-left {
  height: 470px;  
  border: 1px solid #ededed;
}

.contact-list {
  height: 400px;
  overflow: auto;
}

.chat-search {
  height: 70px;
  padding: 10px;
}

.contact-list ul {
  padding-left: 0;
}

.contact {
  position: relative;
  padding: 10px;
  list-style-type: none;
  height: 70px;
  align-items: center;
  cursor: pointer;
  transition: all .25s linear;
}

.contact:hover {
  box-shadow: 5px 0px 0px 0px #30a275 inset;
  background: #f8f9fa;
}

.contact.active {
  box-shadow: 5px 0px 0px 0px #227856 inset;
  background: #ededed;
}

.foto-contact {
  margin-right: 10px;
}

.nama-contact {
  align-items: center;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 60%;
}

.nama-contact2 {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.role-contact{
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #999;
}

.foto-head {
  margin-right: 10px;
}

.nama-head {
  display: flex;
  height: 40px;
  align-items: center;
}

.chat-right {
  border: 1px solid #ededed;
  background: #ededed;
  height: 470px;
}

.chat-head {
  position: position: relative;
  height: 60px;
  width: 100%;
  background: #ffffff;
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
  padding-left: 7px;
}

.chat-body ul li {
 display: inline-block;
 clear: both;
 float: left;
 margin: 10px 10px 5px 10px;
 width: calc(100% - 25px);
 font-size: 0.9em;
}

.chat-body {
  height: 370px;
  overflow: auto;
}

.chat-body ul {
  padding: 10px 0 0 0;
}

.chat-body ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
.chat-body ul li.sent img {
  margin: 6px 8px 0 0;
}
.chat-body ul li.sent p {
  background: #227856;
  color: #ffffff;
}
.chat-body ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
.chat-body ul li.replies p {
  background: #ffffff;
  float: right;
}
.chat-body ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}
.chat-body ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 250px;
  line-height: 130%;
}

.chat-foot {
  height: 50px;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
}

#formSendChat input {
  height: 50px;
  border: none;
  width: 100%;
  padding: 5px 5px 5px 10px;
  border-top: 1px solid #ddd;
}

input[type="text" i]:disabled{
  background: #f2f2f2;
  cursor: not-allowed;
}

.loader-state{
  position: absolute;
  right: 10px;
}

.badge-chat{
  color: #e3e3e3;
  position: absolute;
  background-color: #2b8e67 ;
  top: 25px;
  right: 10px;
}

.chat-ket{
  font-size: 0.9em;
  color: #777;
  font-style: italic;
  position: absolute;
  top: 30px;
  right: 40px;
}

.chat-ket::after {
  content: ' .';
  font-size: 1.3rem;
  position: absolute;
  right: -10px;
  top: -10px;
  animation: dots 1s steps(5, end) infinite;
}

.fade-leave-active {
  animation: fade-out 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  opacity: 0;
}

.fade-enter-active {
  animation: fade-in 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
    .25em 0 0 rgba(0,0,0,0),
    .5em 0 0 rgba(0,0,0,0);
  }
  40% {
    color: #777;
    text-shadow:
    .25em 0 0 rgba(0,0,0,0),
    .5em 0 0 rgba(0,0,0,0);
  }
  60% {
    text-shadow:
    .25em 0 0 #777,
    .5em 0 0 rgba(0,0,0,0);
  }
  80%, 100% {
    text-shadow:
    .25em 0 0 #777,
    .5em 0 0 #777;}
  }

@keyframes fade-out {
  0% {
    transform: translateZ(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-1100px);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
